<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统一登录页面</title>
</head>
<body>
<h1>统一登录页面</h1>
<form method="post" action="/union-login-process">
    <table>
        <tr>
            <td></td>
            <td>用户登录</td>
        </tr>
        <tr>
            <td>用户名:</td>
            <td><label>
                <input type="text" name="user_name"/>
            </label></td>
        </tr>
        <tr>
            <td>密&nbsp;码:</td>
            <td><label>
                <input type="text" name="pass_word"/>
            </label></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录"/></td>
        </tr>
    </table>
</form>
</body>
</html>
